<html >
    <head>
        <title>event detail</title>
        <!--to work for any view port-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--loads path to static files-->
        {% load staticfiles %}
        {% load admin_urls %}
        <link rel="stylesheet" type="text/css" href="{% static "eventManager/style.css"%}"/>
        <link rel="stylesheet" type="text/css" href="{% static "eventManager/css/bootstrap.min.css"%}"/>
        <script src="{% static "eventManager/jquery.js"%}"></script>
        <script src="{% static "eventManager/js/bootstrap.min.js"%}"></script>
    </head>
    <body>
        <div class="jumbotron" style="background-color:#0AC9B2;width:100%;padding:3%">
               <div class ="text-center" style="align:center; font-size: 300%;color:#F8FBFC;"> ANITS EVENT MANAGER</div>
        </div>
        <div class="center-block">
            <table class="table" >
            <thead>
                <tr>
                    <th colspan=2 style="text-align: center;font-size: 150%;">
                       <p> Event added is : </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td style="text-align: center">
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspEvent name:
                        </td>
                        <td style="text-align: center">
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ event.eventName }}
                        </td>
                    </tr>

          </tbody>
        </table>
        </div>
    </body>
</html>