<html >
    <head>
        {% load staticfiles %}
        {% load admin_urls %}
        <title>{% block title %}teacher-details{% endblock %}</title>
        <!--to work for any view port-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--loads path to static files-->

        <link rel="stylesheet" type="text/css" href="{% static "eventManager/style.css"%}"/>
        <link rel="stylesheet" type="text/css" href="{% static "eventManager/css/bootstrap.min.css"%}"/>
        <script src="{% static "eventManager/jquery.js"%}"></script>
        <script src="{% static "eventManager/js/bootstrap.min.js"%}"></script>
    </head>
    <body>
        <div class="jumbotron" style="background-color:#0AC9B2;width:100%;padding:3%">
               <div class ="text-center" style="align:center; font-size: 300%;color:#F8FBFC;"> ANITS EVENT MANAGER</div>
        </div>

        <div style="text-align: center;font-size: 150%;">
            <h2 > Your Details</h2>
        </div>
        <br><br>

        <table class="table" >

            <tbody>
             {% for t in teacher %}
                    <tr>
                        <th style="text-align: center">Teacher id</th>
                        <td style="text-align: center">
                            {{ t.id }}
                        </td>
                     </tr>
                    <tr>
                        <th style="text-align: center">Teacher name</th>
                        <td style="text-align: center">
                            {{ t.teacherName }}
                        </td>
                    </tr>

                    <tr>
                        <th style="text-align: center">Department</th>
                        <td style="text-align: center">
                            {{ t.teacherDept }}
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: center">Experience</th>
                        <td style="text-align: center">
                            {{ t.teacherExperience }}
                        </td>
                     </tr>
                    <tr>
                        <th style="text-align: center">Credits</th>
                        <td style="text-align: center">
                            {{ t.teacherCredits }}
                        </td>
                    </tr>
            {% endfor %}

          </tbody>
        </table>
        <br><br>
        <div align="center">
            <button type = "button" class = "btn btn-primary btn-lg" onclick="location.href='/eventManager/teacherLogin/{{ id }}/' ">
                        ok
            </button>
        </div>
    </body>
</html>